azure-identity==1.16.1
azure-keyvault-secrets==4.8.0
azure-storage-file-datalake==12.18.0
duckdb==0.10.2
dbt-duckdb==1.8.1
dbt-databricks==1.8.7
pytest==8.2.2
pytest-cov==5.0.0
pytest-mock==3.14.0
ruff==0.4.5
bandit==1.7.9
detect-secrets==1.4.0
pip-audit==2.7.3
semgrep==1.75.0
faker==26.0.0
